<%= form_for(detail_schedule) do |f| %>
  <% if detail_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(detail_schedule.errors.count, "error") %> prohibited this detail_schedule from being saved:</h2>

      <ul>
      <% detail_schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
